/* ----------Primary---------- */

html,
body {
    height: 100%;
    overflow-x: hidden;
}

#content {
    height: 100%;
}

/* ---------Side Bar--------------- */

/* #side-bar, */
#card {
    background-color: #285693;
}

#card.p-3 {
    border-radius: 10px;
}

#mobicon {
    height: 120px;
}

/* --------------End Side bar-------------- */
